#portfolio-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    svg {
        width: 2rem;
        height: 2rem;
    }
    a {
        width: 64px;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin: 0;
        padding: 0;
        @include breakpoint-down('md') {
            font-size: 1rem;
        }
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    @include breakpoint-down('md') {
        grid-template-columns: repeat(1, 1fr);
    }

    figure {
        scroll-snap-stop: normal;
        scroll-snap-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        picture {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            //filter: grayscale(1);
            transition: all 1s ease-in;
        }
        &.double {
            grid-column: span 2;
        }
        
    }
    figure.intersecting {
        img {
            opacity: 1;
            //filter: grayscale(0);
        }
    }
    figure.hidden {
        display: none;
    }
}

.other-categories {
    list-style: none;

    margin: 0;
    padding: 1rem;
    font-family: 'Playfair Display', serif;
    li {
        margin-right: 1rem;
        margin-bottom: 1rem;
        list-style: none;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 3rem;
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: 1rem;
            a {
                font-size: 2rem;
            }
        }
    }
}

.admin-bar {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;


}